/* styles.css */

/* Reset de marges i padding */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estils per a la navbar */
nav {
    background-color: #ff6363;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}

/*Estil per heather*/
.heather {
background: #8438d5 ;
color: #000000;
text-align: center;
padding: 60px 0;
text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estils per al contenidor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estils per a les files i columnes */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.col {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
}

/* Estils per a títols i paràgrafs */
h1, h2 {
    color: #333;
    margin: 5%;
}

p {
    color: #666;
}

.form-container {
    background-color: #49496f; 
    padding: 20px;
    border-radius: 8px;
}


.form-label-purple {
    color: #b28cff;
    font-weight: bold;
}


.form-input-purple {
    border-color: #6f42c1 !important; 
    background-color: #33334d !important;
    color: #ffffff !important; 
}

/* Botó */
.form-btn-submit {
    background-color: #6f42c1; 
    border-color: #6f42c1;
    font-weight: bold;
    color: #ffffff; 
    margin-top: 15px; 
}


.form-input-purple::placeholder {
    color: rgba(255, 255, 255, 0.5); 
}



