/* styles.css */

/* Reset de marges i padding */
body {
    font-family: Nunito Sans;
    margin: 0;
    padding: 0;
   
}

/* Estils per a la navbar */
nav {
    background-color: #ff6363;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}

/*Estil per heather*/
.heather {
background: #6f42c1;
color: #000000;
text-align: center;
padding: 30px 0;
text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*Estils per carrousel*/
.carousel-container {
    background-color: #49496f ;
    width: 80%;           /* ancho del carrusel */
    margin: 40px auto;    /* centrado horizontal */
    border: 5px solid black; /* borde negro */
    border-radius: 50px; 
    padding: 20px;        /* espacio dentro del borde */
    box-sizing: border-box;
  }
  
.carousel-title {
    text-align:left ;
    color: #b28cff !important;
    margin: 20px;
  }

.carousel-image {
    width: 400px;
    height: 600px;       /* altura fija para todas */
    object-fit: cover;   /* recorta para no deformar */
     /* bordes redondeados */
}

.carousel-text h3{
    margin: 20px 0 10px 0;    /* espacio debajo de la imagen */
    color: #b28cff;
} 

.carousel-text p{
   
    margin: 0 0 40px 0; 
    color: #b28cff;
}



/* Estils per al contenidor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Estils per a les files i columnes */

.col {
    flex: 1;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
}

/* Estils per a títols i paràgrafs */
h1, h2 {
    color: #333;
    margin: 5%;
}

p {
    color: #666;
}

/*Estils er formulari*/

.form-container {
    background-color: #49496f; 
    padding: 20px;
    border-radius: 8px;
    max-width: 70%;    
    margin: 40px auto;
}


.form-label-purple {
    color: #b28cff;
    font-weight: bold;
}


.form-input-purple {
    border-color: #6f42c1 !important; 
    background-color: #33334d !important;
    color: #ffffff !important; 
}

/* Botó */
.form-btn-submit {
    background-color: #6f42c1; 
    border-color: #6f42c1;
    font-weight: bold;
    color: #ffffff; 
    margin-top: 15px; 
}


.form-input-purple::placeholder {
    color: rgba(255, 255, 255, 0.5); 
}


/* Footer */
.container-text-center {
    padding-bottom: 40px;
} 



.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: auto; 
}



